<footer class="site-footer footer">
  {% block footer %}
    <div class="{{ container }}">
      {% if page.footer %}
        {{ page.footer }}
      {% endif %}
    </div>
  {% endblock %}
</footer>
